.learing{
    display: flex;
    padding-top: 50px;
    .learingLeft{
        flex: 3;
        padding-right: 10px;
        .learingLeftVideo{
            width: 100%;
            height: 100%;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .learingLeftTitle{
            font-size: 30px;
            font-weight: bold;
            margin-top: 20px;
        }
    }
    .learingRight{
        flex: 1;
        .itemVideoLearing{
            cursor: pointer;
            span{
                padding-right: 10px;
            }
            display: flex;
            justify-content: space-between;
        }
    }
}