.draggable {
    position: absolute;
    cursor: move;
    color: black;
    // height: 200px;
    border-radius: 5px;
    padding: 1em;
    // margin: auto;
    user-select: none;
    background-color: aliceblue;
    z-index: 5;
    border: 1px solid rgb(151, 145, 145);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    .draggableWebcam{
        .draggableVideo{

        }
    }
    .draggableAction{
        display: flex;
        justify-content: space-around;
    }
}
.zoomOut{
    position: absolute;
    cursor: move;
    color: black;
    // height: 200px;
    border-radius: 5px;
    padding: 1em;
    // margin: auto;
    user-select: none;
    background-color: aliceblue;
    z-index: 5;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    border: 1px solid rgb(151, 145, 145);
    .draggableWebcam{
        video{
            width: 100px;
        }
    }
    .draggableAction{
        display: flex;
        flex-flow: column;
        button{
            font-size: 9px;
        }
    }
}