.loginBackground {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.login {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 900px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding: 50px;
    .loginImageCreateResp{
        display: none;
    }
    .loginImage {
        flex: 50%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .loginImagePic {
            width: 80%;
        }

        .loginImageCreate {}
    }

    .loginForm {
        flex: 50%;

        hr {
            margin: 0;
            height: 0px;
            color: black;
        }

        .loginFormTitle {
            font-size: 35px;
            font-weight: bold;
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 1000px) {
    .login {
        width: 700px;
    }

}

@media (max-width: 768px) {
    .login {
        width: 400px;
        .loginImage {
            display: none;
        }
        .loginForm{
            .loginImageCreateResp{
                display: block;
            }
        }
    }
}