.itemBxh{
    // border:1px solid #c3c1c1;
    display: flex;
    margin: 5px;
    max-height: 100%;
    // border-radius: 5px;
    max-width: 100%;
    overflow: hidden;
    // box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    transition: transform linear 0.2s;
    will-change: transform;
    &:hover{
        // box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
        transform: translateY(-2px)
    }
    .itemBxhPicture{
        flex: 1;
        .itemBxhImg{
            // margin-top: 0.5px;
            padding-top: 80%;
            background-repeat: no-repeat;
            background-position:top center;
            background-size:cover;
            border-radius: 5px;
            box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
        }
    }
    .itemBxhContent{
        flex: 2;
        padding:0 10px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        .itemBxhContentName{
            font-size: 20px;
            font-weight: 600;
        }
        .itemBxhContentPoint{
            color: #e6dd37;
        }
    }
}