.monitorMain {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .returnHome {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 25px;
        color: #222222;
        font-weight: bold;
        cursor: pointer;
        background-color: #fff;
        padding: 5px 15px;
        margin: 15px;
        border-radius: 5px;
        &:hover{
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        }
    }

    .loadingSpin {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        padding: 30px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.3);
    }

    .monitorVideoFrame {
        // margin-top: -150px;
        flex: 1;
        width: 470px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        // position: relative;
        .monitorVideo {
            width: 480px;
            height: 350px;
            // background-color: #f5f5f5;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .monitorHandleBtn {
        color: #fff;
        margin-top: 50px;
        text-align: center;
        padding-top: 20px;
        width: 470px;
        // background-color: #fbf3f3;
        padding: 20px 50px;
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);

        p {
            font-size: 30px;
        }

        .monitorHandleAction {
            p {
                color: #222222;
                background-color: #ebe3e3;
            }
        }
    }

    .monitorHandle {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .monitorHandleTitle {
            font-size: 80px;
            font-weight: bolder;
            text-transform: uppercase;
            background-color: #fbf3f3;
            color: rgb(9, 13, 16);
            display: inline;
            padding: 10px 50px;
            border-radius: 20px;
            cursor: pointer;
            border: 1px solid #c11616;
        }

        .monitorHandleTime {
            margin-top: -200px;
            background-color: #fbf3f3;
            width: 450px;
            height: 350px;
            border-radius: 20px;
            padding: 30px;
            text-align: center;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

            .monitorHandleTimeTitle {
                font-size: 40px;
                font-weight: bold;
                text-transform: uppercase;
                margin: 0;
            }
        }

        .monitorHandleUser {
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #ede8e8;
            padding: 10px;
            border-radius: 20px;

            .monitorProfile {
                display: flex;
                align-items: center;

                .monitorProfileLogo {
                    width: 80px;
                    height: 80px;
                    border-radius: 40px;
                    overflow: hidden;
                    border: 1px solid #c2b9b9;

                    img {
                        width: 80px;
                    }
                }

                .monitorProfileName {
                    padding-left: 20px;
                    font-size: 35px;
                    font-weight: 600;

                    p {
                        margin: 0;
                    }
                }
            }

            .monitorPoint {
                padding-left: 20px;
                font-size: 35px;
                font-weight: 600;
            }
        }

        .monitorHandleAction {
            margin: 20px 0;

            p {
                border: 1px solid #c2b9b9;
                display: inline;
                padding: 10px 20px;
                border-radius: 10px;
                cursor: pointer;
                font-weight: 600;

                &:hover {
                    border: 1px solid #222222;
                    background-color: #ebe3e3;
                }
            }
        }

        .watch {
            background-color: #ebe3e3;
            width: 100%;
            height: 280px;
            position: relative;
            border-radius: 10px;

            p {
                font-size: 28px;
                margin: 0;
            }

            .stopwatch-card {
                position: absolute;
                text-align: center;
                background-color: white;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                width: 350px;
                height: 200px;
                top: 140px;
                left: 50%;
                transform: translate(-50%, -50%);

                .selectTime {
                    border-radius: 7px;
                    border: 1px solid blue;

                }

                .buttons {
                    display: flex;
                    justify-content: space-evenly;
                    width: 150px;
                    margin: 0 auto;
                    margin-top: 5px;

                    button {
                        outline: none;
                        background: transparent;
                        border: 1px solid blue;
                        padding: 5px 10px;
                        border-radius: 7px;
                        color: blue;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}